@{
    ViewData["Title"] = "The Joel Hilton Film Collection";
}

@*home page*@
<div class="text-center">
    <h3>The Joel Hilton Film Collection</h3>
    <img src="~/img/JoelHiltonHeadshot.jpg" width="250"/>
</div>
